# Django
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Django migrations
**/migrations/*.py
!**/migrations/__init__.py

# Environment variables
.env
*.env

# VSCode
.vscode/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
.eggs/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Virtual environment
venv/
ENV/
env/

# MyPy
.mypy_cache/
.dmypy.json

# Pytest
.pytest_cache/

# Static and media files
staticfiles/
media/

# Local development
local_settings.py

# Docker
*.dockerfile
docker-compose.yml

# IDE-specific files
*.swp
*.swo

# MacOS
.DS_Store

# Windows
Thumbs.db
ntuser.dat

# AWS
.aws/

movie-rental